<div class="form mat-elevation-z8" [formGroup]="detailsForm">

    <h1 class="form-header">Add Student Details</h1>

    <mat-grid-list cols="2" rowHeight="75px">
        <mat-grid-tile>
            <mat-form-field class="text-input" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" formControlName="firstName" >
                <mat-error *ngIf="detailsForm.get('firstName')!.hasError('required')">
                    First Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field class="text-input" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" formControlName="lastName" >
                <mat-error *ngIf="detailsForm.get('lastName')!.hasError('required')">
                    Last Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile  >
            <mat-form-field class="text-input" appearance="outline">
                <mat-label>Age</mat-label>
                <input matInput placeholder="Age" formControlName="age">
                <mat-error *ngIf="detailsForm.get('age')!.hasError('min') || detailsForm.get('age')!.hasError('max') && !detailsForm.get('age')!.hasError('required')">
                    Age must be between 5 and 20
                </mat-error>
                <mat-error *ngIf="detailsForm.get('age')!.hasError('required')">
                    Age is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile class="gender-input" colspan="1">
            <strong class="gender-label">Gender: </strong>
            <mat-button-toggle-group  name="gender" formControlName="gender">
                <mat-button-toggle value="Male">Male</mat-button-toggle>
                <mat-button-toggle value="Female">Female</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-grid-tile>

        <mat-grid-tile >
            <mat-form-field class="text-input" appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select [(value)]="selectedCountry" formControlName="country">
                    <mat-option value="">Select Country</mat-option>
                    <mat-option aria-required *ngFor="let country of countryList" [value]="country">{{country.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="detailsForm.get('country')!.hasError('required')">
                    Please select a valid country
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile >
            <mat-form-field class="text-input" appearance="outline">
                <mat-label>State</mat-label>
                <mat-select formControlName="state" >
                    <mat-option value="">Select State</mat-option>
                    <mat-option *ngFor="let state of selectedCountry.states" [value]="state">{{state}}</mat-option>
                </mat-select>
                <mat-error *ngIf="detailsForm.get('state')!.hasError('required')">
                    Please select a valid state
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
            <mat-form-field class="chip-list" appearance="outline">
                <mat-label>Hobbies</mat-label>
                <mat-chip-list #chipList formControlName="studentHobbies">
                  <mat-chip
                    *ngFor="let hobby of hobbies"
                    (removed)="remove(hobby)">
                    {{hobby}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input
                    placeholder="Add hobby..."
                    #hobbiesInput
                    [formControl]="hobbiesCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let hobby of filteredHobbies | async" [value]="hobby">
                    {{hobby}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile colspan="2">
            <button mat-raised-button color="primary" [disabled]="!detailsForm.valid" class="submit-button" routerLink="/" (click)="onSubmit()"> 
                <span class="button-text">Submit</span>
                <mat-icon class="button-icon">send</mat-icon>
            </button>
        </mat-grid-tile>

    </mat-grid-list>
    


</div>
