.form {
    width:40%;
    /* border-style: solid;*/
    border-radius: 5px; 
    margin: auto;
    margin-top: 100px;
    padding:20px;
}

mat-grid-list {
    margin-top: 25px;
}

.chip-list {
  width: 60%;
}

.submit-button {
    width:200px;
    height: 50px;
    font-size: x-large;
    padding: auto;
}

.button-text {
    margin: 15px;
}
.button-icon {
    font-size: x-large;
}